/*Footer*/
#footer {
    background: #eacda3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d6ae7b, #eacda3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-left: 15%;
}

.columna-abajo {
    padding-top: 2%;
    padding-bottom: 2%;
    font-style: italic;
}

.columna-abajo2 {
    padding-top: 2%;
    padding-bottom: 2%;
    font-style: italic;
}

.columna-abajo3 {
    padding-top: 2%;
    padding-bottom: 2%;
    font-style: italic;
}